@*ESTA VISTA SIRVE PARA MOSTRAR ERRORES RELACIONADOS A LA CUENTA*@

@{
    ViewData["title"] = "Validacion";
}

@*contenedor principal*@
<div class="container mt-5 pt-5">
    <h1 class="text-center alert-info">@ViewData["mensaje"]</h1>
    <div class="row">

        @*botones para registrarse  e iniciar sesion*@
        <di class="col-md-6 offset-md-3">
            <div class="text-center">
                <a asp-action="Register" asp-controller="Account" class="btn btn-primary btn-lg btn-block text-white">
                <i class="fas fa-user-plus"></i>Registrarse</a>
                <a asp-action="Login" asp-controller="Account" class="btn btn-secondary btn-lg btn-block text-white">
                    <i class="fas fa-sign-in-alt"></i>Iniciar sesión
                </a>
            </div>
        </di>

    </div>
</div>

